* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .nav-media {
  display: none;
}
.navbar .logo1 {
  width: 300px;
}
.navbar .nav-ps {
  display: flex;
  gap: 40px;
  color: #1E1E1E;
  font-size: 16px;
  font-weight: 500;
}
.navbar .nav-btns {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar .nav-btns .nav-und {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.navbar .nav-btns .nav-und p {
  color: rgba(30, 30, 30, 0.462745098);
  font-size: 12px;
  font-weight: 600;
}
.navbar .nav-btns .nav-und h4 {
  color: #1E1E1E;
  font-size: 16px;
  font-weight: 600;
}
.navbar .nav-btns button {
  background: linear-gradient(#447C2A, #3DB846, #447C2A);
  border-radius: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 50px;
  cursor: pointer;
}

.hero {
  border-radius: 70px;
  width: 90%;
  height: 750px;
  margin: auto;
  background-image: url("./hero-fon.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero1 {
  max-width: 1200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero .hero1 .hero2 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.hero .hero1 .hero2 h1 {
  color: white;
  font-size: 35px;
  font-weight: 900;
  width: 60%;
}
.hero .hero1 .hero2 h2 {
  display: none;
}
.hero .hero1 .hero2 p {
  color: white;
  font-size: 25px;
  font-weight: 400;
  width: 30%;
}
.hero .hero1 .hero3 {
  display: flex;
}
.hero .hero1 .hero3 .hero-circle {
  position: relative;
  bottom: 10px;
}
.hero .hero1 .hero3 .hero-next {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero .hero1 .hero3 .hero-next p {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
  width: 70%;
}

.make {
  max-width: 1200px;
  height: 700px;
  margin: auto;
  display: flex;
  align-items: center;
}
.make .make-img {
  width: 650px;
}
.make .make-ps {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.make .make-ps .make-img2 {
  display: none;
}
.make .make-ps h1 {
  color: #323638;
  font-size: 40px;
  font-weight: 500;
  width: 80%;
}
.make .make-ps p {
  color: #747474;
  font-size: 24px;
  font-weight: 400;
  width: 90%;
}

.recom {
  max-width: 1200px;
  height: 820px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.recom h1 {
  color: #323638;
  font-size: 35px;
  font-weight: 500;
  text-align: center;
}
.recom .recom1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recom .recom1 .recom-img {
  width: 48%;
  height: 650px;
}
.recom .recom1 .recom-img img {
  width: 100%;
}
.recom .recom1 .recom-txt {
  width: 48%;
  height: 530px;
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 130px 130px 130px;
  gap: 20px;
}
.recom .recom1 .recom-item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.recom .recom1 .recom-item .galochka {
  position: relative;
  bottom: 30px;
}
.recom .recom1 .recom-item .recom-und {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.recom .recom1 .recom-item .recom-und h2 {
  color: #323638;
  font-size: 20px;
  font-weight: 600;
  width: 70%;
}
.recom .recom1 .recom-item .recom-und p {
  color: #747474;
  font-size: 14px;
  font-weight: 400;
}

.unforget {
  max-width: 1200px;
  height: 1250px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.unforget .unforget-both {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.unforget .unforget-both h1 {
  color: #323638;
  font-size: 35px;
  font-weight: 500;
  width: 50%;
}
.unforget .unforget-both button {
  background: linear-gradient(#447C2A, #3DB846, #447C2A);
  border-radius: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 50px;
  cursor: pointer;
  padding: 25px 40px;
  font-size: 18px;
}
.unforget .unforget-trio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.unforget .unforget-trio .unforget-img1 {
  width: 23%;
}
.unforget .unforget-trio .unforget-img2 {
  width: 48%;
}
.unforget .unforget-und {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.unforget .unforget-und p {
  color: #5E4520;
  font-size: 25px;
  font-weight: 400;
}
.unforget .video {
  width: 100%;
}
.unforget .unforget-btn {
  background: linear-gradient(#447C2A, #3DB846, #447C2A);
  border-radius: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 50px;
  cursor: pointer;
  font-size: 18px;
  display: none;
}

.luxe {
  padding: 30px;
  max-width: 1200px;
  height: 1650px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.luxe h1 {
  color: #323638;
  font-size: 35px;
  font-weight: 500;
  width: 90%;
  text-align: center;
}
.luxe .luxe1 {
  width: 100%;
  height: 650px;
  border-radius: 25px;
  border: 1px solid #DEDEDE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}
.luxe .luxe1 .luxe-btn {
  background: linear-gradient(#447C2A, #3DB846, #447C2A);
  border-radius: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 50px;
  cursor: pointer;
  display: none;
}
.luxe .luxe1 .luxe-img {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
}
.luxe .luxe1 .luxe-img .luxe-pic {
  width: 100%;
}
.luxe .luxe1 .luxe-txt {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.luxe .luxe1 .luxe-txt .luxe-both {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.luxe .luxe1 .luxe-txt .luxe-both .luxe-und {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.luxe .luxe1 .luxe-txt .luxe-both .luxe-und p {
  color: rgba(70, 70, 70, 0.7568627451);
  font-size: 18px;
  font-weight: 300;
}
.luxe .luxe1 .luxe-txt .luxe-both .luxe-und h1 {
  color: #323638;
  font-size: 60px;
  font-weight: 700;
  position: relative;
  right: 15px;
}
.luxe .luxe1 .luxe-txt .luxe-both button {
  background: linear-gradient(#447C2A, #3DB846, #447C2A);
  border-radius: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 50px;
  cursor: pointer;
}
.luxe .luxe1 .luxe-txt .luxe-nexts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.luxe .luxe1 .luxe-txt .luxe-nexts .luxe-circle {
  position: relative;
  top: 4px;
}
.luxe .luxe1 .luxe-txt .luxe-nexts .luxe-next {
  display: flex;
  align-items: start;
  gap: 10px;
}
.luxe .luxe1 .luxe-txt .luxe-nexts .luxe-next p {
  color: #323638;
  font-size: 18px;
  font-weight: 400;
}
.luxe .luxe1 .luxe-txt .luxe-main {
  padding: 15px 40px;
  width: 87%;
  height: 230px;
  border-radius: 25px;
  background-color: #FFFAF2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.luxe .luxe1 .luxe-txt .luxe-main .luxe-main1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.luxe .luxe1 .luxe-txt .luxe-main .luxe-main1 .luxe-main-both {
  display: flex;
  gap: 50px;
}
.luxe .luxe1 .luxe-txt .luxe-main .luxe-main1 .luxe-main-both h2 {
  color: #464646;
  font-size: 20px;
  font-weight: 600;
}
.luxe .luxe1 .luxe-txt .luxe-main .luxe-main1 .luxe-main-both h3 {
  color: #CACACA;
}
.luxe .luxe1 .luxe-txt .luxe-main .luxe-main2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.luxe .luxe1 .luxe-txt .luxe-main .luxe-main2 .luxe-main-next {
  display: flex;
  align-items: center;
  gap: 20px;
}
.luxe .luxe1 .luxe-txt .luxe-main .luxe-main2 .luxe-main-next p {
  color: #464646;
  font-size: 16px;
  font-weight: 400;
}
.luxe .luxe1 .luxe-txt .luxe-main .luxe-hr {
  width: 100%;
  border: 1px solid #E0E0E0;
}

.face {
  width: 100%;
  height: 900px;
  background-color: rgba(255, 240, 217, 0.3411764706);
  display: flex;
  justify-content: center;
  align-items: center;
}
.face .face1 {
  max-width: 1200px;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}
.face .face1 h1 {
  color: #323638;
  font-size: 35px;
  font-weight: 500;
  width: 90%;
  text-align: center;
}
.face .face1 .face-dots {
  display: flex;
  align-items: center;
  margin: auto;
}
.face .face1 .face-cards {
  display: flex;
  justify-content: space-between;
}
.face .face1 .face-cards .face-card1 {
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 50px;
}
.face .face1 .face-cards .face-card1 h2 {
  color: #323638;
  font-size: 32px;
  font-weight: 700;
}
.face .face1 .face-cards .face-card1 p {
  color: #777777;
  font-size: 20px;
  font-weight: 300;
}
.face .face1 .face-cards .face-card1 .face-p {
  color: #71AB28;
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
}
.face .face1 .face-cards .face-card2 {
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.face .face1 .face-cards .face-card2 h2 {
  color: #323638;
  font-size: 32px;
  font-weight: 700;
}
.face .face1 .face-cards .face-card2 p {
  color: #777777;
  font-size: 20px;
  font-weight: 300;
}
.face .face1 .face-cards .face-card2 .face-p {
  color: #71AB28;
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .navbar .nav-media {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .navbar .nav-ps, .navbar .nav-btns {
    display: none;
  }
  .navbar .logo1 {
    width: 200px;
  }
  .hero {
    border-radius: 70px;
    width: 95%;
    height: 750px;
    margin: auto;
    background-image: url("./hero-fon2.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero .hero1 {
    padding: 30px;
    max-width: 1200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .hero .hero1 .hero2 {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .hero .hero1 .hero2 h1 {
    display: none;
  }
  .hero .hero1 .hero2 h2 {
    display: block;
    color: white;
    font-size: 22px;
    font-weight: 900;
    width: 100%;
  }
  .hero .hero1 .hero2 p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    width: 80%;
  }
  .hero .hero1 .hero3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .hero .hero1 .hero3 .hero-circle {
    position: relative;
    bottom: 5px;
  }
  .hero .hero1 .hero3 .hero-next {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .hero .hero1 .hero3 .hero-next p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    width: 70%;
  }
  .make {
    max-width: 1200px;
    height: 700px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 30px;
  }
  .make .make-img {
    display: none;
  }
  .make .make-ps {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .make .make-ps .make-img2 {
    display: block;
    width: 100%;
  }
  .make .make-ps h1 {
    font-size: 30px;
    width: 100%;
  }
  .make .make-ps p {
    font-size: 16px;
    width: 100%;
  }
  .recom {
    padding: 30px;
    max-width: 1200px;
    height: 1450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .recom h1 {
    font-size: 25px;
    font-weight: 500;
    text-align: start;
    width: 90%;
  }
  .recom .recom1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }
  .recom .recom1 .recom-img {
    width: 100%;
    height: 400px;
  }
  .recom .recom1 .recom-img img {
    width: 100%;
  }
  .recom .recom1 .recom-txt {
    width: 100%;
    height: 830px;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(6, 130px);
    gap: 30px;
  }
  .recom .recom1 .recom-item {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .recom .recom1 .recom-item .galochka {
    position: relative;
    bottom: 35px;
    width: 30px;
  }
  .recom .recom1 .recom-item .recom-und {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .recom .recom1 .recom-item .recom-und h2 {
    font-size: 20px;
    width: 100%;
  }
  .recom .recom1 .recom-item .recom-und p {
    font-size: 16px;
  }
  .unforget {
    padding: 30px;
    max-width: 1200px;
    height: 750px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .unforget .unforget-both {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .unforget .unforget-both h1 {
    font-size: 25px;
    width: 80%;
  }
  .unforget .unforget-both button {
    display: none;
  }
  .unforget .unforget-trio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .unforget .unforget-trio .unforget-img1 {
    display: none;
  }
  .unforget .unforget-trio .unforget-img2 {
    width: 100%;
  }
  .unforget .unforget-und {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .unforget .unforget-und p {
    font-size: 25px;
  }
  .unforget .video {
    width: 100%;
  }
  .unforget .unforget-btn {
    display: block;
  }
  .luxe {
    max-width: 1200px;
    height: 2000px;
    margin: auto;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
  .luxe h1 {
    font-size: 25px;
    width: 100%;
    text-align: start;
  }
  .luxe .luxe1 {
    width: 90%;
    height: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  .luxe .luxe1 .luxe-btn {
    display: block;
    position: relative;
    top: 50px;
    width: 100%;
  }
  .luxe .luxe1 .luxe-img {
    width: 100%;
    height: 50%;
  }
  .luxe .luxe1 .luxe-img .luxe-pic {
    width: 100%;
  }
  .luxe .luxe1 .luxe-txt {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .luxe .luxe1 .luxe-txt .luxe-both {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .luxe .luxe1 .luxe-txt .luxe-both .luxe-und {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .luxe .luxe1 .luxe-txt .luxe-both .luxe-und p {
    font-size: 16px;
  }
  .luxe .luxe1 .luxe-txt .luxe-both .luxe-und h1 {
    font-size: 35px;
    position: relative;
    right: 0px;
  }
  .luxe .luxe1 .luxe-txt .luxe-both button {
    display: none;
  }
  .luxe .luxe1 .luxe-txt .luxe-nexts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .luxe .luxe1 .luxe-txt .luxe-nexts .luxe-circle {
    position: relative;
    top: 4px;
  }
  .luxe .luxe1 .luxe-txt .luxe-nexts .luxe-next {
    display: flex;
    align-items: start;
    gap: 10px;
  }
  .luxe .luxe1 .luxe-txt .luxe-nexts .luxe-next p {
    font-size: 16px;
  }
  .luxe .luxe1 .luxe-txt .luxe-main {
    padding: 15px 30px;
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
  }
  .luxe .luxe1 .luxe-txt .luxe-main .luxe-main1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
  .luxe .luxe1 .luxe-txt .luxe-main .luxe-main1 .luxe-main-both {
    display: flex;
    gap: 20px;
  }
  .luxe .luxe1 .luxe-txt .luxe-main .luxe-main1 .luxe-main-both h2 {
    font-size: 16px;
  }
  .luxe .luxe1 .luxe-txt .luxe-main .luxe-main1 .luxe-main-both h3 {
    display: none;
  }
  .luxe .luxe1 .luxe-txt .luxe-main .luxe-main2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .luxe .luxe1 .luxe-txt .luxe-main .luxe-main2 .luxe-main-next {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .luxe .luxe1 .luxe-txt .luxe-main .luxe-main2 .luxe-main-next p {
    font-size: 14px;
  }
  .luxe .luxe1 .luxe-txt .luxe-main .luxe-hr {
    width: 100%;
  }
  .face {
    margin: auto;
    margin-top: 850px;
    width: 100%;
    height: 830px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .face .face1 {
    max-width: 1200px;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
  }
  .face .face1 h1 {
    font-size: 25px;
    width: 95%;
    text-align: center;
  }
  .face .face1 .face-cards {
    display: flex;
    justify-content: center;
  }
  .face .face1 .face-cards .face-card1 {
    display: none;
  }
  .face .face1 .face-cards .face-card2 {
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .face .face1 .face-cards .face-card2 .face-pic {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */