@mixin button{
    background: linear-gradient(#447C2A, #3DB846, #447C2A);
    border-radius: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 50px;
    cursor: pointer;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navbar{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-media{
        display: none;
    }
    .logo1{
        width: 300px;
    }
    .nav-ps{
        display: flex;
        gap: 40px;
        color: #1E1E1E;
        font-size: 16px;
        font-weight: 500;
    }
    .nav-btns{
        display: flex;
        align-items: center;
        gap: 40px;
        .nav-und{
            display: flex;
            flex-direction: column;
            gap: 3px;
            p{
                color: #1e1e1e76;
                font-size: 12px;
                font-weight: 600;
            }
            h4{
                color: #1E1E1E;
                font-size: 16px;
                font-weight: 600;
            }
        }
        button{
            @include button;
        }
    }
}
.hero{
    border-radius: 70px;
    width: 90%;
    height: 750px;
    margin: auto;
    background-image: url("./hero-fon.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .hero1{
        max-width: 1200px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .hero2{
            display: flex;
            flex-direction: column;
            gap: 50px;
            h1{
                color: white;
                font-size: 35px;
                font-weight: 900;
                width: 60%;
            }
            h2{
                display: none;
            }
            p{
                color: white;
                font-size: 25px;
                font-weight: 400;
                width: 30%;
            }
        }
        .hero3{
            display: flex;
            .hero-circle{
                position: relative;
                bottom: 10px;
            }
            .hero-next{
                display: flex;
                align-items: center;
                gap: 20px;
                p{
                    color: #FFFFFF;
                    font-size: 20px;
                    font-weight: 500;
                    width: 70%;
                }
            }
        }
    }
}
.make{
    max-width: 1200px;
    height: 700px;
    margin: auto;
    display: flex;
    align-items: center;
    .make-img{
        width: 650px;
    }
    .make-ps{
        display: flex;
        flex-direction: column;
        gap: 50px;
        .make-img2{
            display: none;
        }
        h1{
            color: #323638;
            font-size: 40px;
            font-weight: 500;
            width: 80%;
        }
        p{
            color: #747474;
            font-size: 24px;
            font-weight: 400;
            width: 90%;
        }
    }
}
.recom{
    max-width: 1200px;
    height: 820px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h1{
        color: #323638;
        font-size: 35px;
        font-weight: 500;
        text-align: center;
    }
    .recom1{
        display: flex; 
        align-items: center;
        justify-content: space-between;
        .recom-img{
            width: 48%;
            height: 650px;
            img{
                width: 100%;
            }
        }
        .recom-txt{
            width: 48%;
            height: 530px;
            display: grid;
            grid-template-columns: 300px 300px;
            grid-template-rows: 130px 130px 130px;
            gap: 20px;
        }
        .recom-item{
            display: flex;
            align-items: center;
            gap: 20px;
            .galochka{
                position: relative;
                bottom: 30px;
            }
            .recom-und{
                display: flex;
                flex-direction: column;
                gap: 10px;
                h2{
                    color: #323638;
                    font-size: 20px;
                    font-weight: 600;
                    width: 70%;
                }
                p{
                    color: #747474;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }
}
.unforget{
    max-width: 1200px;
    height: 1250px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    .unforget-both{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1{
            color: #323638;
            font-size: 35px;
            font-weight: 500;
            width: 50%;
        }
        button{
            @include button;
            padding: 25px 40px;
            font-size: 18px;
        }
    }
    .unforget-trio{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        .unforget-img1{
            width: 23%;
        }
        .unforget-img2{
            width: 48%;
        }
    }
    .unforget-und{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        p{
            color: #5E4520;
            font-size: 25px;
            font-weight: 400;
        }
    }
    .video{
        width: 100%;
    }
    .unforget-btn{
        @include button;
        font-size: 18px;
        display: none;
    }
}
@media (max-width: 600px){
    .navbar{
        .nav-media{
            display: flex;
            align-items: center;
            gap: 20px;
        }
        .nav-ps, .nav-btns{
            display: none;
        }
        .logo1{
            width: 200px;
        }
    }
    .hero{
        border-radius: 70px;
        width: 95%;
        height: 750px;
        margin: auto;
        background-image: url("./hero-fon2.png");
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        .hero1{
            padding: 30px;
            max-width: 1200px;
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .hero2{
                display: flex;
                flex-direction: column;
                gap: 0px;
                h1{
                    display: none;
                }
                h2{
                    display: block;
                    color: white;
                    font-size: 22px;
                    font-weight: 900;
                    width: 100%;
                }
                p{
                    color: white;
                    font-size: 16px;
                    font-weight: 400;
                    width: 80%;
                }
            }
            .hero3{
                display: flex;
                flex-direction: column;
                gap: 20px;
                .hero-circle{
                    position: relative;
                    bottom: 5px;
                }
                .hero-next{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    p{
                        color: #FFFFFF;
                        font-size: 16px;
                        font-weight: 500;
                        width: 70%;
                    }
                }
            }
        }
    }
    .make{
        max-width: 1200px;
        height: 700px;
        margin: auto;
        display: flex;
        align-items: center;
        padding: 30px;
        .make-img{
            display: none;
        }
        .make-ps{
            display: flex;
            flex-direction: column;
            gap: 50px;
            .make-img2{
                display: block;
                width: 100%;
            }
            h1{
                font-size: 30px;
                width: 100%;
            }
            p{
                font-size: 16px;
                width: 100%;
            }
        }
    }
    .recom{
        padding: 30px;
        max-width: 1200px;
        height: 1450px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        h1{
            font-size: 25px;
            font-weight: 500;
            text-align: start;
            width: 90%;
        }
        .recom1{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
            .recom-img{
                width: 100%;
                height: 400px;
                img{
                    width: 100%;
                }
            }
            .recom-txt{
                width: 100%;
                height: 830px;
                display: grid;
                grid-template-columns: 300px;
                grid-template-rows: repeat(6, 130px);
                gap: 30px;
            }
            .recom-item{
                display: flex;
                align-items: center;
                gap: 20px;
                .galochka{
                    position: relative;
                    bottom: 35px;
                    width: 30px;
                }
                .recom-und{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    h2{
                        font-size: 20px;
                        width: 100%;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .unforget{
        padding: 30px;
        max-width: 1200px;
        height: 750px;
        margin: auto;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        .unforget-both{
            display: flex;
            align-items: center;
            justify-content: space-between;
            h1{
                font-size: 25px;
                width: 80%;
            }
            button{
                display: none;
            }
        }
        .unforget-trio{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            .unforget-img1{
                display: none;
            }
            .unforget-img2{
                width: 100%;
            }
        }
        .unforget-und{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            p{
                font-size: 25px;
            }
        }
        .video{
            width: 100%;
        }
        .unforget-btn{
            display: block;
        }
    }
}