@mixin button{
    background: linear-gradient(#447C2A, #3DB846, #447C2A);
    border-radius: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 50px;
    cursor: pointer;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navbar{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-media{
        display: none;
    }
    .logo1{
        width: 300px;
    }
    .nav-ps{
        display: flex;
        gap: 40px;
        color: #1E1E1E;
        font-size: 16px;
        font-weight: 500;
    }
    .nav-btns{
        display: flex;
        align-items: center;
        gap: 40px;
        .nav-und{
            display: flex;
            flex-direction: column;
            gap: 3px;
            p{
                color: #1e1e1e76;
                font-size: 12px;
                font-weight: 600;
            }
            h4{
                color: #1E1E1E;
                font-size: 16px;
                font-weight: 600;
            }
        }
        button{
            @include button;
        }
    }
}
.hero{
    border-radius: 70px;
    width: 90%;
    height: 750px;
    margin: auto;
    background-image: url("./hero-fon.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .hero1{
        max-width: 1200px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .hero2{
            display: flex;
            flex-direction: column;
            gap: 50px;
            h1{
                color: white;
                font-size: 35px;
                font-weight: 900;
                width: 60%;
            }
            h2{
                display: none;
            }
            p{
                color: white;
                font-size: 25px;
                font-weight: 400;
                width: 30%;
            }
        }
        .hero3{
            display: flex;
            .hero-circle{
                position: relative;
                bottom: 10px;
            }
            .hero-next{
                display: flex;
                align-items: center;
                gap: 20px;
                p{
                    color: #FFFFFF;
                    font-size: 20px;
                    font-weight: 500;
                    width: 70%;
                }
            }
        }
    }
}
.make{
    max-width: 1200px;
    height: 700px;
    margin: auto;
    display: flex;
    align-items: center;
    .make-img{
        width: 650px;
    }
    .make-ps{
        display: flex;
        flex-direction: column;
        gap: 50px;
        .make-img2{
            display: none;
        }
        h1{
            color: #323638;
            font-size: 40px;
            font-weight: 500;
            width: 80%;
        }
        p{
            color: #747474;
            font-size: 24px;
            font-weight: 400;
            width: 90%;
        }
    }
}
.recom{
    max-width: 1200px;
    height: 820px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h1{
        color: #323638;
        font-size: 35px;
        font-weight: 500;
        text-align: center;
    }
    .recom1{
        display: flex; 
        align-items: center;
        justify-content: space-between;
        .recom-img{
            width: 48%;
            height: 650px;
            img{
                width: 100%;
            }
        }
        .recom-txt{
            width: 48%;
            height: 530px;
            display: grid;
            grid-template-columns: 300px 300px;
            grid-template-rows: 130px 130px 130px;
            gap: 20px;
        }
        .recom-item{
            display: flex;
            align-items: center;
            gap: 20px;
            .galochka{
                position: relative;
                bottom: 30px;
            }
            .recom-und{
                display: flex;
                flex-direction: column;
                gap: 10px;
                h2{
                    color: #323638;
                    font-size: 20px;
                    font-weight: 600;
                    width: 70%;
                }
                p{
                    color: #747474;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }
}
.unforget{
    max-width: 1200px;
    height: 1250px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    .unforget-both{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1{
            color: #323638;
            font-size: 35px;
            font-weight: 500;
            width: 50%;
        }
        button{
            @include button;
            padding: 25px 40px;
            font-size: 18px;
        }
    }
    .unforget-trio{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        .unforget-img1{
            width: 23%;
        }
        .unforget-img2{
            width: 48%;
        }
    }
    .unforget-und{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        p{
            color: #5E4520;
            font-size: 25px;
            font-weight: 400;
        }
    }
    .video{
        width: 100%;
    }
    .unforget-btn{
        @include button;
        font-size: 18px;
        display: none;
    }
}
.luxe{
    padding: 30px;
    max-width: 1200px;
    height: 1650px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    h1{
        color: #323638;
        font-size: 35px;
        font-weight: 500;
        width: 90%;
        text-align: center;
    }
    .luxe1{
        width: 100%;
        height: 650px;
        border-radius: 25px;
        border: 1px solid #DEDEDE;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px;
        .luxe-btn{
            @include button;
            display: none;
        }
        .luxe-img{
            width: 45%;
            height: 100%;
            display: flex;
            align-items: center;
            .luxe-pic{
                width: 100%;
            }
        }
        .luxe-txt{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .luxe-both{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .luxe-und{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    p{
                        color: #464646c1;
                        font-size: 18px;
                        font-weight: 300;
                    }
                    h1{
                        color: #323638;
                        font-size: 60px;
                        font-weight: 700;
                        position: relative;
                        right: 15px;
                    }
                }
                button{
                    @include button;
                }
            }
            .luxe-nexts{
                display: flex;
                flex-direction: column;
                gap: 10px;
                .luxe-circle{
                    position: relative;
                    top: 4px;
                }
                .luxe-next{
                    display: flex;
                    align-items: start;
                    gap: 10px;
                    p{
                        color: #323638;
                        font-size: 18px;
                        font-weight: 400;
                    }
                }
            }
            .luxe-main{
                padding: 15px 40px;
                width: 87%;
                height: 230px;
                border-radius: 25px;
                background-color: #FFFAF2;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .luxe-main1{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .luxe-main-both{
                        display: flex;
                        gap: 50px;
                        h2{
                            color: #464646;
                            font-size: 20px;
                            font-weight: 600;
                        }
                        h3{
                            color: #CACACA;
                        }
                    }
                }
                .luxe-main2{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    .luxe-main-next{
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        p{
                            color: #464646;
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }
                }
                .luxe-hr{
                    width: 100%;
                    border: 1px solid #E0E0E0;
                }
            }
        }
    }
}
.face{
    width: 100%;
    height: 900px;
    background-color: #FFF0D957;
    display: flex;
    justify-content: center;
    align-items: center;
    .face1{
        max-width: 1200px;
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
        h1{
            color: #323638;
            font-size: 35px;
            font-weight: 500;
            width: 90%;
            text-align: center;
        }
        .face-dots{
            display: flex;
            align-items: center;
            margin: auto;
        }
        .face-cards{
            display: flex;
            justify-content: space-between;
            .face-card1{
                width: 350px;
                height: 500px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                position: relative;
                top: 50px;
                h2{
                    color: #323638;
                    font-size: 32px;
                    font-weight: 700;
                }
                p{
                    color: #777777;
                    font-size: 20px;
                    font-weight: 300;
                }
                .face-p{
                    color: #71AB28;
                    font-size: 20px;
                    font-weight: 500;
                    text-decoration: underline;
                }
            }
            .face-card2{
                width: 350px;
                height: 500px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                h2{
                    color: #323638;
                    font-size: 32px;
                    font-weight: 700;
                }
                p{
                    color: #777777;
                    font-size: 20px;
                    font-weight: 300;
                }
                .face-p{
                    color: #71AB28;
                    font-size: 20px;
                    font-weight: 500;
                    text-decoration: underline;
                }
            }
        }
    }
}
.behind{
    width: 1px;
    height: 1px;
    position: relative;
    .map-behind{
        z-index: 1;
        position: absolute;
        bottom: -1000px;
        left: -100px;
    }
}
.sign{
    max-width: 1200px;
    height: 680px;
    margin: auto;
    margin-top: 50px;
    background-image: url("./map.png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 2;
    .sign-form{
        background-color: #FCFCFC;
        border-radius: 25px;
        width: 50%;
        height: 80%;
        position: relative;
        top: 70px;
        left: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        h1{
            color: #323638;
            font-size: 35px;
            font-weight: 500;
            width: 80%;
            text-align: center;
        }
        .sign-divs{
            width: 90%;
            height: 70%;
            display: flex;
            justify-content: space-between;
            form{
                width: 45%;
                height: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                h2{
                    color: #323638;
                    font-size: 22px;
                    font-weight: 600;
                }
                input{
                    padding: 0px 20px;
                    width: 75%;
                    height: 50px;
                    border-radius: 25px;
                    border: none;
                    background-color: #EFEFEF;
                }
                button{
                    @include button;
                    padding: 0;
                    width: 90%;
                    height: 50px;
                }
                .sign-both{
                    display: flex;
                    gap: 10px;
                    input{
                        width: 20px;
                        height: 20px;
                    }
                    p{
                        color: #323638;
                        font-size: 14px;
                        font-weight: 400;
                        text-align: start;
                    }
                }
            }
            .sign-div1{
                border-left: 1px solid #E1E1E1;
                width: 45%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                text-align: center;
                .sign-txt{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 30px;
                    h2{
                        color: #323638;
                        font-size: 22px;
                        font-weight: 600;
                    }
                    .sign-nexts{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        .sign-next{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            h3{
                                color: #323638;
                                font-size: 22px;
                                font-weight: 400;
                            }
                        }
                        .sign-next2{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            p{
                                color: #323638;
                                font-size: 14px;
                                font-weight: 400;
                            }
                        }
                    }
                }
                .sign-icon{
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    h2{
                        color: #323638;
                        font-size: 20px;
                        font-weight: 600;
                    }
                    .sign-icons{
                        display: flex;
                        align-content: center;
                        gap: 10px;
                    }
                }
            }
        }
    }
}
@media (max-width: 600px){
    .navbar{
        .nav-media{
            display: flex;
            align-items: center;
            gap: 20px;
        }
        .nav-ps, .nav-btns{
            display: none;
        }
        .logo1{
            width: 200px;
        }
    }
    .hero{
        border-radius: 70px;
        width: 95%;
        height: 750px;
        margin: auto;
        background-image: url("./hero-fon2.png");
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        .hero1{
            padding: 30px;
            max-width: 1200px;
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .hero2{
                display: flex;
                flex-direction: column;
                gap: 0px;
                h1{
                    display: none;
                }
                h2{
                    display: block;
                    color: white;
                    font-size: 22px;
                    font-weight: 900;
                    width: 100%;
                }
                p{
                    color: white;
                    font-size: 16px;
                    font-weight: 400;
                    width: 80%;
                }
            }
            .hero3{
                display: flex;
                flex-direction: column;
                gap: 20px;
                .hero-circle{
                    position: relative;
                    bottom: 5px;
                }
                .hero-next{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    p{
                        color: #FFFFFF;
                        font-size: 16px;
                        font-weight: 500;
                        width: 70%;
                    }
                }
            }
        }
    }
    .make{
        max-width: 1200px;
        height: 700px;
        margin: auto;
        display: flex;
        align-items: center;
        padding: 30px;
        .make-img{
            display: none;
        }
        .make-ps{
            display: flex;
            flex-direction: column;
            gap: 50px;
            .make-img2{
                display: block;
                width: 100%;
            }
            h1{
                font-size: 30px;
                width: 100%;
            }
            p{
                font-size: 16px;
                width: 100%;
            }
        }
    }
    .recom{
        padding: 30px;
        max-width: 1200px;
        height: 1450px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        h1{
            font-size: 25px;
            font-weight: 500;
            text-align: start;
            width: 90%;
        }
        .recom1{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
            .recom-img{
                width: 100%;
                height: 400px;
                img{
                    width: 100%;
                }
            }
            .recom-txt{
                width: 100%;
                height: 830px;
                display: grid;
                grid-template-columns: 300px;
                grid-template-rows: repeat(6, 130px);
                gap: 30px;
            }
            .recom-item{
                display: flex;
                align-items: center;
                gap: 20px;
                .galochka{
                    position: relative;
                    bottom: 35px;
                    width: 30px;
                }
                .recom-und{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    h2{
                        font-size: 20px;
                        width: 100%;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .unforget{
        padding: 30px;
        max-width: 1200px;
        height: 750px;
        margin: auto;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        .unforget-both{
            display: flex;
            align-items: center;
            justify-content: space-between;
            h1{
                font-size: 25px;
                width: 80%;
            }
            button{
                display: none;
            }
        }
        .unforget-trio{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            .unforget-img1{
                display: none;
            }
            .unforget-img2{
                width: 100%;
            }
        }
        .unforget-und{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            p{
                font-size: 25px;
            }
        }
        .video{
            width: 100%;
        }
        .unforget-btn{
            display: block;
        }
    }
    .luxe{
        max-width: 1200px;
        height: 2000px;
        margin: auto;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        h1{
            font-size: 25px;
            width: 100%;
            text-align: start;
        }
        .luxe1{
            width: 90%;
            height: 1300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            .luxe-btn{
                display: block;
                position: relative;
                top: 50px;
                width: 100%;
            }
            .luxe-img{
                width: 100%;
                height: 50%;
                .luxe-pic{
                    width: 100%;
                }
            }
            .luxe-txt{
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .luxe-both{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .luxe-und{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        p{
                            font-size: 16px;
                        }
                        h1{
                            font-size: 35px;
                            position: relative;
                            right: 0px;
                        }
                    }
                    button{
                        display: none;
                    }
                }
                .luxe-nexts{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .luxe-circle{
                        position: relative;
                        top: 4px;
                    }
                    .luxe-next{
                        display: flex;
                        align-items: start;
                        gap: 10px;
                        p{
                            font-size: 16px;
                        }
                    }
                }
                .luxe-main{
                    padding: 15px 30px;
                    width: 80%;
                    height: 500px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-top: 30px;
                    .luxe-main1{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 30px;
                        .luxe-main-both{
                            display: flex;
                            gap: 20px;
                            h2{
                                font-size: 16px;
                            }
                            h3{
                                display: none;
                            }
                        }
                    }
                    .luxe-main2{
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        .luxe-main-next{
                            display: flex;
                            align-items: center;
                            gap: 20px;
                            p{
                                font-size: 14px;
                            }
                        }
                    }
                    .luxe-hr{
                        width: 100%;
                    }
                }
            }
        }
    }
    .face{
        margin: auto;
        margin-top: 850px;
        width: 100%;
        height: 830px;
        display: flex;
        justify-content: center;
        align-items: center;
        .face1{
            max-width: 1200px;
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 50px;
            h1{
                font-size: 25px;
                width: 95%;
                text-align: center;
            }
            .face-cards{
                display: flex;
                justify-content: center;
                .face-card1{
                    display: none;
                }
                .face-card2{
                    width: 80%;
                    height: 500px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    .face-pic{
                        width: 100%;
                    }
                }
            }
        }
    }
    .behind{
        display: none;
    }
    .sign{
        max-width: 1200px;
        height: 1300px;
        margin: auto;
        margin-top: 200px;
        background-image: url("./map2.png");
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-content: center;
        .sign-form{
            width: 90%;
            height: 80%;
            position: relative;
            top: 0px;
            left: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            h1{
                font-size: 35px;
                width: 80%;
                text-align: center;
            }
            .sign-divs{
                width: 90%;
                height: 70%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                form{
                    width: 100%;
                    height: 45%;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    h2{
                        color: #323638;
                        font-size: 22px;
                        font-weight: 600;
                    }
                    input{
                        padding: 0px 20px;
                        width: 75%;
                        height: 50px;
                    }
                    button{
                        @include button;
                        padding: 0;
                        width: 90%;
                        height: 50px;
                    }
                    .sign-both{
                        display: flex;
                        gap: 10px;
                        input{
                            width: 20px;
                            height: 20px;
                        }
                        p{
                            font-size: 14px;
                            text-align: start;
                        }
                    }
                }
                .sign-div1{
                    border-left: 0px;
                    width: 100%;
                    height: 45%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    text-align: center;
                }
            }
        }
    }
}